/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --main-font-color: #ff0070;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --decor-color: #ff0070;
  --main-text-font-color: #f1b2ce;
  --text-shadow-color: #ff0070;
  --title-shadow-color: #ff0070;
  --display: block;
  --text-decor-color: #f1b2ce;
  --button-border-bottom: rgb(255 0 112 / 0.4);
  --link-border-bottom: #f1b2ce;
  --link-decor-color: #f1b2ce;
}
