/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --main-font-color: #353430;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --decor-color: #353430;
  --main-text-font-color: #353430;
  --text-shadow-color: #ff8dcb;
  --display: none;
  --button-border-bottom: rgb(53 52 48 / 0.4);
  --link-border-bottom: currentColor;
    --link-decor-color: currentColor;
}

@media (prefers-color-scheme: light) {

  :root {
    /* Дублируем только те же переменные, что и выше */

    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --main-font-color: #353430;
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --decor-color: #353430;
    --main-text-font-color: #353430;
    --text-shadow-color: #ff8dcb;
    --display: none;
    --button-border-bottom: rgb(53 52 48 / 0.4);
    --link-border-bottom: #353430;
    --link-decor-color: #353430;
  }

  /* Остальные стили, только при необходимости */
}
